@import "../../global/mixins.scss";



.landingSec {
    width: 100%;
    background-color: #FBFBFB;
    width: 100%;
    height: 100vh;
    position: relative;
    .cta {
        position: absolute;
bottom: -50px;
z-index: 10;
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
        p {
            padding: 50px 0px;
        }
    }

    .container {
        margin: 0 auto;
        height: 100%;
        // display: grid;
        display: flex;

        flex-direction: column;
        .avatarWrapper  {
            margin: auto;
            text-align: center;
            padding-bottom: 25px;
            /* Adjust - temp */ 
            position: relative;
          
     
            
            @include for-big-desktop-up {
                // top:100px;
            }

            /* ---End--- */
            
           
            img {
                margin: auto;
                width: 70%;
                max-width: 600px;
                display: block;
            }

            h1 {
                margin-top: 0px;
                font-size: 3rem; 
                @include for-big-desktop-up {    
                    font-size: 4rem; 
            }
            }
            p {
               
                @include for-big-desktop-up {    
                    font-size: 1.4rem; 
                    width: 80%;
               
                    margin: 0 auto;
            }
            }
        }
    }
}

