.landingWrapper {
    width: 100%;
    background-color: red;
    width: 100%;
    height: 100vh;

}

.avatarWrapper img {
    margin: 0 auto;
    width: 50%;
    max-width: 600px;
    display: block;
}
