@import "../../../global/colors.scss";

.contentWrapper {
    padding: 50px 75px;

    height: 100%;
    min-height: 700px;
    justify-content: space-evenly;
    display: flex;
    align-content: center;
    flex-direction: column;

    p {
      max-width: 60%;
    }

    .textWrapper {

    }
}
.center {
    margin: 0 auto;
    text-align: center;

    .avatar {
        width: 450px;
        height: auto;
        margin: 0 auto;
        img {
            width: 100%;
     
        }
    }

    .buttonWrapper {
        margin: 20px 0px;
    }

    p {
        width: 60%;
        margin: 0 auto;
    }
}

.imageWrapper {
    position: absolute;
    bottom: 0px;
    right: 0px;

    overflow:hidden;

    img {
        position: relative;
        right: -75px;
        bottom: -75px;
        z-index: -9;
    }
}

/* FORM */

form {
    width: 65%;

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        background-color: rgba(255, 255, 255, 0.768);
        border-radius: 4px;
        box-sizing: border-box;
        transition: all 1s ease-in-out;
      }

      input[type=text]:focus, textarea:focus {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border:1px solid $colorForward;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 4px;
        box-sizing: border-box;
        outline-width: 0;
        transition: all 1 ease-in-out; 
      }
      
      input[type=submit] {
        width: 100%;
        background-color: $colorForward;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: $colorForward;
      }
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.768);
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
  }

  input[type=text]:focus, textarea:focus {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border:1px solid $colorForward;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    box-sizing: border-box;
    outline-width: 0;
    transition: all 1 ease-in-out; 
  }
  
  input[type=submit] {
    width: 100%;
    background-color: $colorForward;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: $colorForward;
  }
  

  /* calendar */

  .calendar {
    width: 100%;
    display: inline-block;
    padding: 40px 0px;
    
   > div{
      float: left;

      h3 {
        margin-bottom: 0px;
      }

 
    }
  }



