.serviceWrapper {
    background-color: #F2E4EC;
    width: 100%;
    // height: 100vh;
    position: relative;
    top: 0px;
    height: auto;
    max-height: 1200px;
    min-height: 900px;
  overflow: hidden;
}



.serviceTemp {
  position: absolute;
  top: 0px;

  // display: flex;
  // justify-content: center;
  // align-content: center;

// grid-template-rows: 25% 100px auto;

justify-content: center;
display: flex;
align-content: center;
flex-direction: column;

height: 100%;

}

.alignLeft {
  justify-content: space-evenly;
  display: flex;
  align-content: center;
  flex-direction: column;

  p {
    width:40%;

  }

  // INLINE STYLE

  .serviceItems {
    padding-bottom: 20px; 

    > p {
      line-height: 1.7;
      margin-left: 45px;
      padding-top: 2px;
    }
    :first-child{
            margin-left: 0px;
          }

    h2 {
      font-weight: 600;
      font-size: 2em;
    }
    span {
      width: 100%;
      margin: 10px 0px;
      img {
        height:  70px;
        margin-right: 20px;
        float: left;
      }
      p {
        line-height: 65px;
        font-size: 1.4em;
        font-weight: 600
      }
    }

  // COLLUMN STYLE
  //   .serviceItems {
  
  //     height: 150px;
  //     padding: 4px;  
  //     // background: #ddd;
  //     display: flex;
  //     flex-direction: row;  
  //   z-index: 99;
  //     width: 60%;
  //     margin: 25px 0px 35px 0px;
  //     > p {
  //       line-height: 1.7;
  //       margin-left: 45px;
    
  //     }
  //     :first-child{
  //       margin-left: 0px;
  //     }
  //     span {
  //       margin: 0 auto;
  //       max-width: 100px;
  //       // // position: relative;
  //       img {
  //         // position: absolute;
  //         // bottom: 0px;
  //         // left:50%;
  //         // translate: transform(-50%,0);
  //         margin: 0 auto;
  //         width: 100px;
  //         display: block;
  //       }
  //       p {
  //         width: 100%;
  //         // font-size: 1.4em;
  //         font-weight: 600;
  //         text-align:center;
  //         margin: unset;
  //         margin-bottom: 20px;
  //       }
  //     }
   
    
  
  }

  }

  .serviceItems {
    padding: 20px 0px;

    
    } 
  


.alignRight {
  // grid-column:3 / 5;
  // overflow: hidden;

  position: absolute;
  right: 0px;
  bottom: 0px;



  img {
    position: relative;
    // left: 50px;
    // top: 50px;
    margin: 50px 150px;
    max-width: 75%;
    z-index: 3;
    cursor: pointer;
  }

 
    svg:nth-child(2) {
      position: absolute;
      right: 0px;
      z-index: 2;

   opacity: 0.8;
   transform: scale(1.2)
    }
  
    svg:nth-child(3) {
      position: absolute;
      right: 0px;
   
  opacity: 0.8;
      
  }
  

}

.large {

  :nth-child(2) {
    position: absolute;
    right: 0px;
    z-index: 2;

 opacity: 0.8;
 transform: scale(1.7)!important;

  }
  :nth-child(3) {
    position: absolute;
    right: 0px;
  
opacity: 0.8;
width: 100%;
  }
  
}
