@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

// font-family: 'Open Sans', sans-serif;
// font-family: 'Cantora One', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');

// font-family: 'Gudea', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

// font-family: 'Chewy', cursive;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Quicksand:wght@300;400;700&display=swap');

// font-family: 'Quicksand', sans-serif;
// font-family: 'Lato', sans-serif;


$mainFont1: 'Quicksand', sans-serif;
$sideFont1: 'Lato', sans-serif;

$mainFont2: 'Chewy', cursive;
$sideFont2: 'Open Sans', sans-serif;

$mainFont3: 'Cantora One', sans-serif;
$sideFont3: 'Open Sans', sans-serif;

$mainFont4:  'Gudea', sans-serif;
$sideFont4: 'Lato', sans-serif;