$_4kScreen: 1800px;
$_bigScreen: 1600px;
$_mediumScreen: 900px;


@mixin for-big-desktop-up {
    @media (min-width: $_4kScreen) { @content; }
  }

@mixin for-medium-screen {
    @media (max-width: $_mediumScreen) { @content; }
}

@mixin for-big-screen {
  @media (max-width: $_bigScreen) { @content; }
}