.test {
    position: relative;
    /* height: 100%; */
    width: 100%;
    /* top: 4200px; */
    padding: 0;
    /* padding-bottom: 100%; */
    transform-origin: 0% 0%;

    svg {
        position: relative;
        fill: #F1E3EB;
        top: -1px;
        z-index: 9;
        display: block;    
        pointer-events: none;
        // position: absolute;
        // /* height: 100%; */
        // width: 100%;
        // left: 0;
        // top: 0;
        // position: absolute;
        // left: 50%;
        // -webkit-transform: translateX(-50%);
        // transform: translateX(-50%);

    .path {
        animation: dash 10s linear infinite;
      }
    }
}

  